In [1]:
import pandas as pd
import numpy as np

In [2]:
pd.options.display.max_columns = None

In [3]:
df = pd.read_excel('EDERJAKIN_LA_Datos_2021.xlsm', sheet_name=None)

In [4]:
for sheet_name in list(df.keys()):
   df[sheet_name].to_csv(sheet_name + 'Sheet.csv')

In [5]:
Usuarios = pd.read_csv('UsuariosSheet.csv')
Tutores_perfil = pd.read_csv('Tutores_perfilSheet.csv')
Conocimientos = pd.read_csv('ConocimientosSheet.csv')
Cursos = pd.read_csv('CursosSheet.csv')
Programas = pd.read_csv('ProgramasSheet.csv')
Cursos_en_Programas = pd.read_csv('Cursos_en_ProgramasSheet.csv')
Itinearios = pd.read_csv('ItineariosSheet.csv')
Notas_Cursos = pd.read_csv('Notas_CursosSheet.csv')
Roles = pd.read_csv('RolesSheet.csv')
Plantas = pd.read_csv('PlantasSheet.csv')
Accesos = pd.read_csv('AccesosSheet.csv')
Acceso_1ero_ultimo = pd.read_csv('Acceso_1ero_ultimoSheet.csv')
Actividades = pd.read_csv('ActividadesSheet.csv')

In [6]:
Actividades.info()
Actividades.shape

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3464 entries, 0 to 3463
Data columns (total 8 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Unnamed: 0      3464 non-null   int64
 1   mdl_user_id     3464 non-null   int64
 2   course_name     3464 non-null   object
 3   course_id       3464 non-null   int64
 4   category        3464 non-null   object
 5   actividad_name  3460 non-null   object
 6   grade           2114 non-null   float64
 7   time            2129 non-null   object
dtypes: float64(1), int64(3), object(4)
memory usage: 216.6+ KB

(3464, 8)

In [7]:
Conocimientos.drop(['Unnamed: 0'], axis=1)

Cursos_en_Programas.drop(['Unnamed: 0'], axis=1)

Usuarios.drop(['Unnamed: 0'], axis=1)

Tutores_perfil.drop(['Unnamed: 0'], axis=1)

Cursos.drop(['Unnamed: 0'], axis=1)

Programas.drop(['Unnamed: 0'], axis=1)

Itinearios.drop(['Unnamed: 0'], axis=1)

Notas_Cursos.drop(['Unnamed: 0'], axis=1)

Roles.drop(['Unnamed: 0'], axis=1)

Plantas.drop(['Unnamed: 0'], axis=1)

Accesos.drop(['Unnamed: 0'], axis=1)

Acceso_1ero_ultimo.drop(['Unnamed: 0'], axis=1)

Actividades.drop(['Unnamed: 0'], axis=1)

,mdl_user_id,course_name,course_id,category,actividad_name,grade,time
0,190,A - FORMACIÓN ESPECÍFICA CALIDAD ABP,224,TÉCNICOS/TECNOLÓGICOS ABP,TEST FINAL,NaN,NaN
1,190,A - FORMACIÓN ESPECÍFICA CALIDAD ABP,224,TÉCNICOS/TECNOLÓGICOS ABP,A - FORMACIÓN ESPECÍFICA CALIDAD ABP - Total,NaN,NaN
2,296,A - FORMACIÓN ESPECÍFICA CALIDAD ABP,224,TÉCNICOS/TECNOLÓGICOS ABP,A - FORMACIÓN ESPECÍFICA CALIDAD ABP - Total,9.32,2020-12-18 15:25:05
3,296,A - FORMACIÓN ESPECÍFICA CALIDAD ABP,224,TÉCNICOS/TECNOLÓGICOS ABP,TEST FINAL,9.32,2020-12-18 15:25:05
4,299,A - FORMACIÓN ESPECÍFICA CALIDAD ABP,224,TÉCNICOS/TECNOLÓGICOS ABP,TEST FINAL,9.66,2020-12-18 16:45:34
...,...,...,...,...,...,...,...
3459,21,Trazabilidad LPPFe MEC,278,Técnico / Tecnológico LPPFE,TEST - Enbalajearen etiketa / Etiquetado de em...,9.29,2021-06-14 16:36:31
3460,21,Trazabilidad LPPFe MEC,278,Técnico / Tecnológico LPPFE,Trazabilidad LPPFe MEC - Total,9.29,2021-06-14 16:36:32
3461,21,Trazabilidad LPPFe MEC,278,Técnico / Tecnológico LPPFE,Trazabilidad LPPFe MEC - Total,9.29,2021-06-14 16:36:32
3462,339,Trazabilidad LPPFe MEC,278,Técnico / Tecnológico LPPFE,Trazabilidad LPPFe MEC - Total,10.00,2021-06-14 10:13:15
3463,339,Trazabilidad LPPFe MEC,278,Técnico / Tecnológico LPPFE,TEST - Enbalajearen etiketa / Etiquetado de em...,10.00,2021-06-14 10:13:15

UNIONES

In [8]:
INFORMACION_TUTORES=pd.merge(Usuarios,Tutores_perfil,on="user_id")

In [9]:
INFORMACION_TUTORES.shape

(180, 16)

In [10]:
INFORMACION_TUTORES

,Unnamed: 0_x,user_id,useranonimo_name,active_flag,language,last_access,mdl_user_id,role_admin,role_manager,role_student,role_tutor,planta_name,Unnamed: 11,Unnamed: 0_y,perfil_id,perfil_name
0,0,3,username_03,1,es,NaN,13.0,0,0,1,0,ABP Bergara,NaN,118,0,NaN
1,1,4,username_04,1,es,NaN,14.0,0,0,1,0,Fagorederlan,NaN,119,0,NaN
2,7,10,username_10,1,es,NaN,21.0,0,0,1,1,LPP Eskoriatza,NaN,0,3,Gestor de empresa
3,7,10,username_10,1,es,NaN,21.0,0,0,1,1,LPP Eskoriatza,NaN,22,6,Tutor empresa
4,7,10,username_10,1,es,NaN,21.0,0,0,1,1,LPP Eskoriatza,NaN,120,0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
175,353,369,username_369,1,es,NaN,393.0,0,0,1,0,MT Aretxabaleta,NaN,184,0,NaN
176,363,379,username_379,1,es,NaN,444.0,0,0,1,0,MT Aretxabaleta,NaN,185,0,NaN
177,398,415,username_415,1,es,NaN,446.0,0,0,1,0,MT Aretxabaleta,NaN,186,0,NaN
178,406,423,username_423,1,es,NaN,448.0,0,0,1,0,MT Aretxabaleta,NaN,187,0,NaN
179,419,436,username_436,1,es,NaN,461.0,0,1,1,1,ABP Bergara,NaN,88,6,Tutor empresa

In [11]:
JOIN1_1=pd.merge(Usuarios,Actividades,on="mdl_user_id")

In [12]:
JOIN1_2=pd.merge(JOIN1_1,Accesos,on="user_id") #ASI YA TENEMOS CON USER ID Y HACEMOS LO QUE QUEREMOS

In [13]:
JOIN1_3=pd.merge(JOIN1_2,Itinearios,on="user_id")

In [14]:
JOIN1_3

,Unnamed: 0_x,user_id,useranonimo_name,active_flag_x,language,last_access,mdl_user_id_x,role_admin,role_manager,role_student,role_tutor,planta_name,Unnamed: 11,Unnamed: 0_y,course_name,course_id,category,actividad_name,grade,time,Unnamed: 0_x,description,timestamp,mdl_user_id_y,Unnamed: 0_y,active_flag_y,category_id,date_enroll,enroll_end,program_id,remarks,tutor_academico_id,tutor_empresa_id,category_name,program_name
0,0,3,username_03,1,es,NaN,13.0,0,0,1,0,ABP Bergara,NaN,2861,TALDEEN LIDERGOA,268,PERSONALES,TEST,10.0,2021-08-05 12:34:41,1266,Login SRM OK,2021-07-22T11:03:45+01:00,13,0,0,8,2020-05-04T00:00:00+01:00,2023-04-01T23:59:00+01:00,66,NaN,0,190,SOPORTE&OPERARIO,Tratamiento Térmico ABP Bergara
1,0,3,username_03,1,es,NaN,13.0,0,0,1,0,ABP Bergara,NaN,2861,TALDEEN LIDERGOA,268,PERSONALES,TEST,10.0,2021-08-05 12:34:41,1266,Login SRM OK,2021-07-22T11:03:45+01:00,13,1,1,2,2021-07-22T00:00:00+01:00,NaN,145,NaN,0,50,DUAL,pruebas_01
2,0,3,username_03,1,es,NaN,13.0,0,0,1,0,ABP Bergara,NaN,2861,TALDEEN LIDERGOA,268,PERSONALES,TEST,10.0,2021-08-05 12:34:41,1266,Login SRM OK,2021-07-22T11:03:45+01:00,13,2,1,8,2021-09-08T00:00:00+01:00,NaN,146,NaN,0,110,SOPORTE&OPERARIO,Operario Control Final CBI
3,0,3,username_03,1,es,NaN,13.0,0,0,1,0,ABP Bergara,NaN,2861,TALDEEN LIDERGOA,268,PERSONALES,TEST,10.0,2021-08-05 12:34:41,1267,Login SRM OK,2021-08-05T12:33:20+01:00,13,0,0,8,2020-05-04T00:00:00+01:00,2023-04-01T23:59:00+01:00,66,NaN,0,190,SOPORTE&OPERARIO,Tratamiento Térmico ABP Bergara
4,0,3,username_03,1,es,NaN,13.0,0,0,1,0,ABP Bergara,NaN,2861,TALDEEN LIDERGOA,268,PERSONALES,TEST,10.0,2021-08-05 12:34:41,1267,Login SRM OK,2021-08-05T12:33:20+01:00,13,1,1,2,2021-07-22T00:00:00+01:00,NaN,145,NaN,0,50,DUAL,pruebas_01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1320449,405,422,username_422,1,es,NaN,443.0,0,0,1,0,MT Aretxabal,NaN,2858,SEMELLE H5 RSA,252,TÉCNICO / TECNOLÓGICO MT - REFERENCIAS,TEST,8.0,2021-10-15 07:25:44,8454,Login SRM OK,2021-10-15T06:51:45+01:00,443,450,1,5,2021-10-01T00:00:00+01:00,NaN,163,NaN,0,285,ESPECIALISTA,Maquinista Mecanizados Autogestión MT
1320450,405,422,username_422,1,es,NaN,443.0,0,0,1,0,MT Aretxabal,NaN,2859,SEMELLE H5 RSA,252,TÉCNICO / TECNOLÓGICO MT - REFERENCIAS,SEMELLE H5 RSA - Total,8.0,2021-10-15 07:25:44,8453,Login SRM OK,2021-10-15T06:21:58+01:00,443,450,1,5,2021-10-01T00:00:00+01:00,NaN,163,NaN,0,285,ESPECIALISTA,Maquinista Mecanizados Autogestión MT
1320451,405,422,username_422,1,es,NaN,443.0,0,0,1,0,MT Aretxabal,NaN,2859,SEMELLE H5 RSA,252,TÉCNICO / TECNOLÓGICO MT - REFERENCIAS,SEMELLE H5 RSA - Total,8.0,2021-10-15 07:25:44,8454,Login SRM OK,2021-10-15T06:51:45+01:00,443,450,1,5,2021-10-01T00:00:00+01:00,NaN,163,NaN,0,285,ESPECIALISTA,Maquinista Mecanizados Autogestión MT
1320452,405,422,username_422,1,es,NaN,443.0,0,0,1,0,MT Aretxabal,NaN,2860,SEMELLE H5 RSA,252,TÉCNICO / TECNOLÓGICO MT - REFERENCIAS,TEST FINAL,NaN,NaN,8453,Login SRM OK,2021-10-15T06:21:58+01:00,443,450,1,5,2021-10-01T00:00:00+01:00,NaN,163,NaN,0,285,ESPECIALISTA,Maquinista Mecanizados Autogestión MT
1320453,405,422,username_422,1,es,NaN,443.0,0,0,1,0,MT Aretxabal,NaN,2860,SEMELLE H5 RSA,252,TÉCNICO / TECNOLÓGICO MT - REFERENCIAS,TEST FINAL,NaN,NaN,8454,Login SRM OK,2021-10-15T06:51:45+01:00,443,450,1,5,2021-10-01T00:00:00+01:00,NaN,163,NaN,0,285,ESPECIALISTA,Maquinista Mecanizados Autogestión MT

In [17]:
#NO EJECUTAR
#1)QUIENES SON LOS TUTORES
INFORMACION_TUTORES=pd.merge(Usuarios,Tutores_perfil,on="user_id")

#INFORMACION SOBRE QUE CURSOS Y ACTIVIDADES HAN HEHCHO
JOIN1_1=pd.merge(Usuarios,Actividades,on="mdl_user_id") 
JOIN1_2=pd.merge(JOIN1_1,Accesos,on="user_id") #ASI YA TENEMOS CON USER ID Y HACEMOS LO QUE QUEREMOS E

#INFORMACION EN COMPLETO SOBRE USUARIOS (NOMBRE DE CURSOS, CALIFICACIONES...)
JOIN1_3=pd.merge(JOIN1_2,Cursos_en_Programas,on="user_id")
JOIN1_4=pd.merge(JOIN1_3,Conocimientos,on="user_id")
JOIN1_5=pd.merge(JOIN1_4,Programas,on="program_id")
JOIN1_6=pd.merge(JOIN1_5,Itinerarios,on="program_id") 
JOIN1_7=pd.merge(JOIN1_6,Acceso_1ero_ultimo,on="mdl_user_id")
JOIN1_8=pd.merge(JOIN1_7,Cursos,on="course_id")
DF_COMPLETO=pd.merge(JOIN1_8,Notas_Cursos,on="course_id")

#INFORMACION SOBRE TODO TIPO DE MODOS DE APRENDER
JOIN3_1=pd.merge(Itinerarios,Cursos_en_Programas,on="program_id")
JOIN5_1=pd.merge(JOIN4_1,Programas,on="program_id")
JOIN4_1=pd.merge(JOIN3_1,Conocimientos,on="conocimiento_id")
#Para juntarlo con cursos hay que meter si o si actividades y usuarios y despues eliminar columna
JOIN4_1=pd.merge(JOIN3_1,Actividades,on="conocimiento_id")
JOIN2_3=pd.merge(JOIN1_2,Usuarios,on="user_id")
JOIN8_1=pd.merge(JOIN7_1,Cursos,on="course_id")

#EDUCACION + LOS USUARIOS QUE LA ESTAN CURSANDO
JOIN6_1=pd.merge(JOIN5_1,Itinerarios,on="program_id")

KeyError: 'user_id'

In [17]:
#No deja join global
df1 = pd.merge(Usuarios, Tutores_perfil, how='outer')
df2 = pd.merge(df1, Actividades, how='outer')
df3 = pd.merge(df2, Accesos, how='outer')
df4 = pd.merge(df3, Cursos_en_Programas, how='outer')
df5 = pd.merge(df4, Conocimientos, how='outer')
df6 = pd.merge(df5, Programas, how='outer')
df7 = pd.merge(df6, Itinearios, how='outer')
df8 = pd.merge(df7, Acceso_1ero_ultimo, how='outer')

In [23]:
df8

,Unnamed: 0,user_id,useranonimo_name,active_flag,language,last_access,mdl_user_id,role_admin,role_manager,role_student,role_tutor,planta_name,Unnamed: 11,perfil_id,perfil_name,course_name,course_id,category,actividad_name,grade,time,description,timestamp,program_course_online_id,course_moodle_id,conocimiento_id,num_periodo,program_id,course_moodle_id.1,conocimiento_name,program_name,color,created_by,categoria_conocimiento_id,referencia,categoria_conocimiento_name,program_category_id,category_id,date_enroll,enroll_end,remarks,tutor_academico_id,tutor_empresa_id,category_name,1er acceso,ultimo acceso
0,0,3.0,username_03,1.0,es,NaN,13.0,0.0,0.0,1.0,0.0,ABP Bergara,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5717.0,72.0,24.0,1.0,187.0,INTRODUCCIÓN EN PRL Y MA ABP,ACOGIDA PRL Y MEDIO AMBIENTE,Control Visual Bruto,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,0,10.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.0,Gestor de empresa,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5717.0,72.0,24.0,1.0,187.0,INTRODUCCIÓN EN PRL Y MA ABP,ACOGIDA PRL Y MEDIO AMBIENTE,Control Visual Bruto,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,161.0,NaN,NaN,NaN,35UP,NaN,NaN,134.0,158.0,NaN,Técnico Tecnologico ABP Referencias,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,60.0,NaN,NaN,ITI CICLO DUAL 2019-2020,NaN,NaN,NaN,NaN,NaN,DUAL,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,0,3.0,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,66.0,NaN,NaN,Tratamiento Térmico ABP Bergara,NaN,NaN,NaN,NaN,NaN,NaN,8.0,2020-05-04T00:00:00+01:00,2023-04-01T23:59:00+01:00,NaN,0.0,190.0,SOPORTE&OPERARIO,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13965,367,NaN,NaN,NaN,NaN,NaN,457.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,--,--
13966,368,NaN,NaN,NaN,NaN,NaN,458.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,--,--
13967,369,NaN,NaN,NaN,NaN,NaN,459.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,--,--
13968,370,NaN,NaN,NaN,NaN,NaN,460.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,--,--
13969,371,NaN,NaN,NaN,NaN,NaN,461.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"jueves, 28 de octubre de 2021, 15:43","jueves, 28 de octubre de 2021, 16:03"

In [22]:
#Actividades, cursos en programas, cursos, programas, conocimientos
EDUCACION=pd.merge(Cursos_en_Programas,Programas,on="mdl_user_id") 
EDUCACION=pd.merge(EDUCACION,Conocimientos,on="conocimiento_id") 
EDUCACION=pd.merge(EDUCACION,Notas,on="conocimiento_id")

,Unnamed: 0_x,user_id,useranonimo_name,active_flag,language,last_access,mdl_user_id_x,role_admin,role_manager,role_student,role_tutor,planta_name,Unnamed: 11,Unnamed: 0_y,course_name,course_id,category,actividad_name,grade,time,Unnamed: 0,description,timestamp,mdl_user_id_y
0,0,3,username_03,1,es,NaN,13.0,0,0,1,0,ABP Bergara,NaN,2861,TALDEEN LIDERGOA,268,PERSONALES,TEST,10.0,2021-08-05 12:34:41,1266,Login SRM OK,2021-07-22T11:03:45+01:00,13
1,0,3,username_03,1,es,NaN,13.0,0,0,1,0,ABP Bergara,NaN,2861,TALDEEN LIDERGOA,268,PERSONALES,TEST,10.0,2021-08-05 12:34:41,1267,Login SRM OK,2021-08-05T12:33:20+01:00,13
2,0,3,username_03,1,es,NaN,13.0,0,0,1,0,ABP Bergara,NaN,2861,TALDEEN LIDERGOA,268,PERSONALES,TEST,10.0,2021-08-05 12:34:41,1268,Login SRM OK,2021-10-28T13:27:59+01:00,13
3,0,3,username_03,1,es,NaN,13.0,0,0,1,0,ABP Bergara,NaN,2862,TALDEEN LIDERGOA,268,PERSONALES,TALDEEN LIDERGOA - Total,10.0,2021-08-05 12:34:41,1266,Login SRM OK,2021-07-22T11:03:45+01:00,13
4,0,3,username_03,1,es,NaN,13.0,0,0,1,0,ABP Bergara,NaN,2862,TALDEEN LIDERGOA,268,PERSONALES,TALDEEN LIDERGOA - Total,10.0,2021-08-05 12:34:41,1267,Login SRM OK,2021-08-05T12:33:20+01:00,13
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
286794,405,422,username_422,1,es,NaN,443.0,0,0,1,0,MT Aretxabal,NaN,2858,SEMELLE H5 RSA,252,TÉCNICO / TECNOLÓGICO MT - REFERENCIAS,TEST,8.0,2021-10-15 07:25:44,8454,Login SRM OK,2021-10-15T06:51:45+01:00,443
286795,405,422,username_422,1,es,NaN,443.0,0,0,1,0,MT Aretxabal,NaN,2859,SEMELLE H5 RSA,252,TÉCNICO / TECNOLÓGICO MT - REFERENCIAS,SEMELLE H5 RSA - Total,8.0,2021-10-15 07:25:44,8453,Login SRM OK,2021-10-15T06:21:58+01:00,443
286796,405,422,username_422,1,es,NaN,443.0,0,0,1,0,MT Aretxabal,NaN,2859,SEMELLE H5 RSA,252,TÉCNICO / TECNOLÓGICO MT - REFERENCIAS,SEMELLE H5 RSA - Total,8.0,2021-10-15 07:25:44,8454,Login SRM OK,2021-10-15T06:51:45+01:00,443
286797,405,422,username_422,1,es,NaN,443.0,0,0,1,0,MT Aretxabal,NaN,2860,SEMELLE H5 RSA,252,TÉCNICO / TECNOLÓGICO MT - REFERENCIAS,TEST FINAL,NaN,NaN,8453,Login SRM OK,2021-10-15T06:21:58+01:00,443
286798,405,422,username_422,1,es,NaN,443.0,0,0,1,0,MT Aretxabal,NaN,2860,SEMELLE H5 RSA,252,TÉCNICO / TECNOLÓGICO MT - REFERENCIAS,TEST FINAL,NaN,NaN,8454,Login SRM OK,2021-10-15T06:51:45+01:00,443

LIMPIEZA DE DATOS

In [ ]:
Usuarios = pd.read_csv('UsuariosSheet.csv')
Tutores_perfil = pd.read_csv('Tutores_perfilSheet.csv')
Conocimientos = pd.read_csv('ConocimientosSheet.csv')
Cursos = pd.read_csv('CursosSheet.csv')
Programas = pd.read_csv('ProgramasSheet.csv')
Cursos_en_Programas = pd.read_csv('Cursos_en_ProgramasSheet.csv')
Itinearios = pd.read_csv('ItineariosSheet.csv')
Notas_Cursos = pd.read_csv('Notas_CursosSheet.csv')
Roles = pd.read_csv('RolesSheet.csv')
Plantas = pd.read_csv('PlantasSheet.csv')
Accesos = pd.read_csv('AccesosSheet.csv')
Acceso_1ero_ultimo = pd.read_csv('Acceso_1ero_ultimoSheet.csv')
Actividades = pd.read_csv('ActividadesSheet.csv')

In [51]:
Usuarios

,user_id,active_flag,language,mdl_user_id,role_admin,role_manager,role_student,role_tutor,planta_name
0,3,1,es,13.0,0,0,1,0,ABP Bergara
1,4,1,es,14.0,0,0,1,0,Fagorederlan
2,5,1,es,15.0,0,0,1,0,ABP Arrasate
3,6,1,es,17.0,0,0,1,0,Fagorederlan
4,7,1,es,18.0,0,0,1,0,ABP Arrasate
...,...,...,...,...,...,...,...,...,...
415,432,1,es,457.0,0,0,1,0,MT Aretxabaleta
416,433,1,es,458.0,0,0,1,0,MT Aretxabaleta
417,434,1,es,459.0,0,0,1,0,MT Aretxabaleta
418,435,1,es,460.0,0,0,1,0,MT Aretxabaleta
419,436,1,es,461.0,0,1,1,1,ABP Bergara

In [47]:
#Nombre de columnas
Usuarios.columns

Index(['user_id', 'active_flag', 'language', 'last_access', 'mdl_user_id',
       'role_admin', 'role_manager', 'role_student', 'role_tutor',
       'planta_name'],
      dtype='object')

In [48]:
#Numero de columnas/filas
Usuarios.shape

(420, 10)

In [49]:
#Eliminar columnas innecesarias
Usuarios=Usuarios.drop(['Unnamed: 0'], axis=1)
Usuarios=Usuarios.drop(['Unnamed: 11'], axis=1)
Usuarios=Usuarios.drop(['useranonimo_name'], axis=1)
Usuarios=Usuarios.drop(['last_access'], axis=1)

KeyError: "['Unnamed: 0'] not found in axis"

In [39]:
Usuarios.info

<bound method DataFrame.info of      user_id  active_flag language  last_access  mdl_user_id  role_admin  \
0          3            1       es          NaN         13.0           0
1          4            1       es          NaN         14.0           0
2          5            1       es          NaN         15.0           0
3          6            1       es          NaN         17.0           0
4          7            1       es          NaN         18.0           0
..       ...          ...      ...          ...          ...         ...
415      432            1       es          NaN        457.0           0
416      433            1       es          NaN        458.0           0
417      434            1       es          NaN        459.0           0
418      435            1       es          NaN        460.0           0
419      436            1       es          NaN        461.0           0

     role_manager  role_student  role_tutor      planta_name
0               0             1           0      ABP Bergara
1               0             1           0     Fagorederlan
2               0             1           0     ABP Arrasate
3               0             1           0     Fagorederlan
4               0             1           0     ABP Arrasate
..            ...           ...         ...              ...
415             0             1           0  MT Aretxabaleta
416             0             1           0  MT Aretxabaleta
417             0             1           0  MT Aretxabaleta
418             0             1           0  MT Aretxabaleta
419             1             1           1      ABP Bergara

[420 rows x 10 columns]>

In [64]:
#Tipos de variables
Usuarios.dtypes

user_id           int64
active_flag       int64
language         object
mdl_user_id     float64
role_admin        int64
role_manager      int64
role_student      int64
role_tutor        int64
planta_name      object
dtype: object

In [65]:
Uusarios["mdl_user_id"]pd.to_numeric(Usuarios["mdl_user_id"])

SyntaxError: invalid syntax (<ipython-input-65-531fc9823cb2>, line 1)

In [43]:
#Duplicados
Usuarios.duplicated().sum() # busca duplicados de fila completa

0

In [45]:
#NA'S
Usuarios.isna()
#Eliminamos last_acceses por %100 de NA'S 
Usuarios.isna().sum()

user_id           0
active_flag       0
language          0
last_access     420
mdl_user_id      15
role_admin        0
role_manager      0
role_student      0
role_tutor        0
planta_name       0
dtype: int64

In [53]:
#Se quitan o no 15 mdl_user_id en caso de que no necesitemos la variable
Usuarios.dropna(subset = ['mdl_user_id'])

,user_id,active_flag,language,mdl_user_id,role_admin,role_manager,role_student,role_tutor,planta_name
0,3,1,es,13.0,0,0,1,0,ABP Bergara
1,4,1,es,14.0,0,0,1,0,Fagorederlan
2,5,1,es,15.0,0,0,1,0,ABP Arrasate
3,6,1,es,17.0,0,0,1,0,Fagorederlan
4,7,1,es,18.0,0,0,1,0,ABP Arrasate
...,...,...,...,...,...,...,...,...,...
415,432,1,es,457.0,0,0,1,0,MT Aretxabaleta
416,433,1,es,458.0,0,0,1,0,MT Aretxabaleta
417,434,1,es,459.0,0,0,1,0,MT Aretxabaleta
418,435,1,es,460.0,0,0,1,0,MT Aretxabaleta
419,436,1,es,461.0,0,1,1,1,ABP Bergara

In [ ]:
Tutores_perfil

In [ ]:
Conocimientos

In [ ]:
Cursos

In [ ]:
Programas

In [ ]:
Cursos_en_Programas

In [ ]:
Itinearios

In [ ]:
Notas_Cursos

In [ ]:
Roles

In [ ]:
Plantas

In [ ]:
Accesos

In [ ]:
Acceso_1ero_ultimo

In [ ]:
Actividades