In [2]:
import pandas as pd
import numpy as np
import datetime as dt

In [3]:
pd.options.display.max_columns = None

In [4]:
df = pd.read_excel('EDERJAKIN_LA_Datos_2021.xlsm', sheet_name=None)

In [5]:
for sheet_name in list(df.keys()):
   df[sheet_name].to_csv(sheet_name + 'Sheet.csv')

In [6]:
Usuarios = pd.read_csv('UsuariosSheet.csv')
Tutores_perfil = pd.read_csv('Tutores perfilSheet.csv')
Conocimientos = pd.read_csv('ConocimientosSheet.csv')
Cursos = pd.read_csv('CursosSheet.csv')
Programas = pd.read_csv('ProgramasSheet.csv')
Cursos_en_Programas = pd.read_csv('Cursos en ProgramasSheet.csv')
Itinearios = pd.read_csv('ItineariosSheet.csv')
Notas_Cursos = pd.read_csv('Notas_CursosSheet.csv')
Roles = pd.read_csv('RolesSheet.csv')
Plantas = pd.read_csv('PlantasSheet.csv')
Accesos = pd.read_csv('AccesosSheet.csv')
Acceso_1ero_ultimo = pd.read_csv('Acceso_1ero_ultimoSheet.csv')
Actividades = pd.read_csv('ActividadesSheet.csv')

In [6]:
Actividades.info()
Actividades.shape

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3464 entries, 0 to 3463
Data columns (total 8 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Unnamed: 0      3464 non-null   int64
 1   mdl_user_id     3464 non-null   int64
 2   course_name     3464 non-null   object
 3   course_id       3464 non-null   int64
 4   category        3464 non-null   object
 5   actividad_name  3460 non-null   object
 6   grade           2114 non-null   float64
 7   time            2129 non-null   object
dtypes: float64(1), int64(3), object(4)
memory usage: 216.6+ KB

(3464, 8)

In [7]:
Conocimientos.drop(['Unnamed: 0'], axis=1)

Cursos_en_Programas.drop(['Unnamed: 0'], axis=1)

Usuarios.drop(['Unnamed: 0'], axis=1)

Tutores_perfil.drop(['Unnamed: 0'], axis=1)

Cursos.drop(['Unnamed: 0'], axis=1)

Programas.drop(['Unnamed: 0'], axis=1)

Itinearios.drop(['Unnamed: 0'], axis=1)

Notas_Cursos.drop(['Unnamed: 0'], axis=1)

Roles.drop(['Unnamed: 0'], axis=1)

Plantas.drop(['Unnamed: 0'], axis=1)

Accesos.drop(['Unnamed: 0'], axis=1)

Acceso_1ero_ultimo.drop(['Unnamed: 0'], axis=1)

Actividades.drop(['Unnamed: 0'], axis=1)

,mdl_user_id,course_name,course_id,category,actividad_name,grade,time
0,190,A - FORMACIÓN ESPECÍFICA CALIDAD ABP,224,TÉCNICOS/TECNOLÓGICOS ABP,TEST FINAL,NaN,NaN
1,190,A - FORMACIÓN ESPECÍFICA CALIDAD ABP,224,TÉCNICOS/TECNOLÓGICOS ABP,A - FORMACIÓN ESPECÍFICA CALIDAD ABP - Total,NaN,NaN
2,296,A - FORMACIÓN ESPECÍFICA CALIDAD ABP,224,TÉCNICOS/TECNOLÓGICOS ABP,A - FORMACIÓN ESPECÍFICA CALIDAD ABP - Total,9.32,2020-12-18 15:25:05
3,296,A - FORMACIÓN ESPECÍFICA CALIDAD ABP,224,TÉCNICOS/TECNOLÓGICOS ABP,TEST FINAL,9.32,2020-12-18 15:25:05
4,299,A - FORMACIÓN ESPECÍFICA CALIDAD ABP,224,TÉCNICOS/TECNOLÓGICOS ABP,TEST FINAL,9.66,2020-12-18 16:45:34
...,...,...,...,...,...,...,...
3459,21,Trazabilidad LPPFe MEC,278,Técnico / Tecnológico LPPFE,TEST - Enbalajearen etiketa / Etiquetado de em...,9.29,2021-06-14 16:36:31
3460,21,Trazabilidad LPPFe MEC,278,Técnico / Tecnológico LPPFE,Trazabilidad LPPFe MEC - Total,9.29,2021-06-14 16:36:32
3461,21,Trazabilidad LPPFe MEC,278,Técnico / Tecnológico LPPFE,Trazabilidad LPPFe MEC - Total,9.29,2021-06-14 16:36:32
3462,339,Trazabilidad LPPFe MEC,278,Técnico / Tecnológico LPPFE,Trazabilidad LPPFe MEC - Total,10.00,2021-06-14 10:13:15
3463,339,Trazabilidad LPPFe MEC,278,Técnico / Tecnológico LPPFE,TEST - Enbalajearen etiketa / Etiquetado de em...,10.00,2021-06-14 10:13:15

UNIONES

In [8]:
INFORMACION_TUTORES=pd.merge(Usuarios,Tutores_perfil,on="user_id")

In [9]:
INFORMACION_TUTORES.shape

(180, 16)

In [10]:
INFORMACION_TUTORES

,Unnamed: 0_x,user_id,useranonimo_name,active_flag,language,last_access,mdl_user_id,role_admin,role_manager,role_student,role_tutor,planta_name,Unnamed: 11,Unnamed: 0_y,perfil_id,perfil_name
0,0,3,username_03,1,es,NaN,13.0,0,0,1,0,ABP Bergara,NaN,118,0,NaN
1,1,4,username_04,1,es,NaN,14.0,0,0,1,0,Fagorederlan,NaN,119,0,NaN
2,7,10,username_10,1,es,NaN,21.0,0,0,1,1,LPP Eskoriatza,NaN,0,3,Gestor de empresa
3,7,10,username_10,1,es,NaN,21.0,0,0,1,1,LPP Eskoriatza,NaN,22,6,Tutor empresa
4,7,10,username_10,1,es,NaN,21.0,0,0,1,1,LPP Eskoriatza,NaN,120,0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
175,353,369,username_369,1,es,NaN,393.0,0,0,1,0,MT Aretxabaleta,NaN,184,0,NaN
176,363,379,username_379,1,es,NaN,444.0,0,0,1,0,MT Aretxabaleta,NaN,185,0,NaN
177,398,415,username_415,1,es,NaN,446.0,0,0,1,0,MT Aretxabaleta,NaN,186,0,NaN
178,406,423,username_423,1,es,NaN,448.0,0,0,1,0,MT Aretxabaleta,NaN,187,0,NaN
179,419,436,username_436,1,es,NaN,461.0,0,1,1,1,ABP Bergara,NaN,88,6,Tutor empresa

In [11]:
JOIN1_1=pd.merge(Usuarios,Actividades,on="mdl_user_id")

In [12]:
JOIN1_2=pd.merge(JOIN1_1,Accesos,on="user_id") #ASI YA TENEMOS CON USER ID Y HACEMOS LO QUE QUEREMOS

In [13]:
JOIN1_3=pd.merge(JOIN1_2,Itinearios,on="user_id")

In [14]:
JOIN1_3

,Unnamed: 0_x,user_id,useranonimo_name,active_flag_x,language,last_access,mdl_user_id_x,role_admin,role_manager,role_student,role_tutor,planta_name,Unnamed: 11,Unnamed: 0_y,course_name,course_id,category,actividad_name,grade,time,Unnamed: 0_x,description,timestamp,mdl_user_id_y,Unnamed: 0_y,active_flag_y,category_id,date_enroll,enroll_end,program_id,remarks,tutor_academico_id,tutor_empresa_id,category_name,program_name
0,0,3,username_03,1,es,NaN,13.0,0,0,1,0,ABP Bergara,NaN,2861,TALDEEN LIDERGOA,268,PERSONALES,TEST,10.0,2021-08-05 12:34:41,1266,Login SRM OK,2021-07-22T11:03:45+01:00,13,0,0,8,2020-05-04T00:00:00+01:00,2023-04-01T23:59:00+01:00,66,NaN,0,190,SOPORTE&OPERARIO,Tratamiento Térmico ABP Bergara
1,0,3,username_03,1,es,NaN,13.0,0,0,1,0,ABP Bergara,NaN,2861,TALDEEN LIDERGOA,268,PERSONALES,TEST,10.0,2021-08-05 12:34:41,1266,Login SRM OK,2021-07-22T11:03:45+01:00,13,1,1,2,2021-07-22T00:00:00+01:00,NaN,145,NaN,0,50,DUAL,pruebas_01
2,0,3,username_03,1,es,NaN,13.0,0,0,1,0,ABP Bergara,NaN,2861,TALDEEN LIDERGOA,268,PERSONALES,TEST,10.0,2021-08-05 12:34:41,1266,Login SRM OK,2021-07-22T11:03:45+01:00,13,2,1,8,2021-09-08T00:00:00+01:00,NaN,146,NaN,0,110,SOPORTE&OPERARIO,Operario Control Final CBI
3,0,3,username_03,1,es,NaN,13.0,0,0,1,0,ABP Bergara,NaN,2861,TALDEEN LIDERGOA,268,PERSONALES,TEST,10.0,2021-08-05 12:34:41,1267,Login SRM OK,2021-08-05T12:33:20+01:00,13,0,0,8,2020-05-04T00:00:00+01:00,2023-04-01T23:59:00+01:00,66,NaN,0,190,SOPORTE&OPERARIO,Tratamiento Térmico ABP Bergara
4,0,3,username_03,1,es,NaN,13.0,0,0,1,0,ABP Bergara,NaN,2861,TALDEEN LIDERGOA,268,PERSONALES,TEST,10.0,2021-08-05 12:34:41,1267,Login SRM OK,2021-08-05T12:33:20+01:00,13,1,1,2,2021-07-22T00:00:00+01:00,NaN,145,NaN,0,50,DUAL,pruebas_01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1320449,405,422,username_422,1,es,NaN,443.0,0,0,1,0,MT Aretxabal,NaN,2858,SEMELLE H5 RSA,252,TÉCNICO / TECNOLÓGICO MT - REFERENCIAS,TEST,8.0,2021-10-15 07:25:44,8454,Login SRM OK,2021-10-15T06:51:45+01:00,443,450,1,5,2021-10-01T00:00:00+01:00,NaN,163,NaN,0,285,ESPECIALISTA,Maquinista Mecanizados Autogestión MT
1320450,405,422,username_422,1,es,NaN,443.0,0,0,1,0,MT Aretxabal,NaN,2859,SEMELLE H5 RSA,252,TÉCNICO / TECNOLÓGICO MT - REFERENCIAS,SEMELLE H5 RSA - Total,8.0,2021-10-15 07:25:44,8453,Login SRM OK,2021-10-15T06:21:58+01:00,443,450,1,5,2021-10-01T00:00:00+01:00,NaN,163,NaN,0,285,ESPECIALISTA,Maquinista Mecanizados Autogestión MT
1320451,405,422,username_422,1,es,NaN,443.0,0,0,1,0,MT Aretxabal,NaN,2859,SEMELLE H5 RSA,252,TÉCNICO / TECNOLÓGICO MT - REFERENCIAS,SEMELLE H5 RSA - Total,8.0,2021-10-15 07:25:44,8454,Login SRM OK,2021-10-15T06:51:45+01:00,443,450,1,5,2021-10-01T00:00:00+01:00,NaN,163,NaN,0,285,ESPECIALISTA,Maquinista Mecanizados Autogestión MT
1320452,405,422,username_422,1,es,NaN,443.0,0,0,1,0,MT Aretxabal,NaN,2860,SEMELLE H5 RSA,252,TÉCNICO / TECNOLÓGICO MT - REFERENCIAS,TEST FINAL,NaN,NaN,8453,Login SRM OK,2021-10-15T06:21:58+01:00,443,450,1,5,2021-10-01T00:00:00+01:00,NaN,163,NaN,0,285,ESPECIALISTA,Maquinista Mecanizados Autogestión MT
1320453,405,422,username_422,1,es,NaN,443.0,0,0,1,0,MT Aretxabal,NaN,2860,SEMELLE H5 RSA,252,TÉCNICO / TECNOLÓGICO MT - REFERENCIAS,TEST FINAL,NaN,NaN,8454,Login SRM OK,2021-10-15T06:51:45+01:00,443,450,1,5,2021-10-01T00:00:00+01:00,NaN,163,NaN,0,285,ESPECIALISTA,Maquinista Mecanizados Autogestión MT

In [17]:
#NO EJECUTAR
#1)QUIENES SON LOS TUTORES
INFORMACION_TUTORES=pd.merge(Usuarios,Tutores_perfil,on="user_id")

#INFORMACION SOBRE QUE CURSOS Y ACTIVIDADES HAN HEHCHO
JOIN1_1=pd.merge(Usuarios,Actividades,on="mdl_user_id") 
JOIN1_2=pd.merge(JOIN1_1,Accesos,on="user_id") #ASI YA TENEMOS CON USER ID Y HACEMOS LO QUE QUEREMOS E

#INFORMACION EN COMPLETO SOBRE USUARIOS (NOMBRE DE CURSOS, CALIFICACIONES...)
JOIN1_3=pd.merge(JOIN1_2,Cursos_en_Programas,on="user_id")
JOIN1_4=pd.merge(JOIN1_3,Conocimientos,on="user_id")
JOIN1_5=pd.merge(JOIN1_4,Programas,on="program_id")
JOIN1_6=pd.merge(JOIN1_5,Itinerarios,on="program_id") 
JOIN1_7=pd.merge(JOIN1_6,Acceso_1ero_ultimo,on="mdl_user_id")
JOIN1_8=pd.merge(JOIN1_7,Cursos,on="course_id")
DF_COMPLETO=pd.merge(JOIN1_8,Notas_Cursos,on="course_id")

#INFORMACION SOBRE TODO TIPO DE MODOS DE APRENDER
JOIN3_1=pd.merge(Itinerarios,Cursos_en_Programas,on="program_id")
JOIN5_1=pd.merge(JOIN4_1,Programas,on="program_id")
JOIN4_1=pd.merge(JOIN3_1,Conocimientos,on="conocimiento_id")
#Para juntarlo con cursos hay que meter si o si actividades y usuarios y despues eliminar columna
JOIN4_1=pd.merge(JOIN3_1,Actividades,on="conocimiento_id")
JOIN2_3=pd.merge(JOIN1_2,Usuarios,on="user_id")
JOIN8_1=pd.merge(JOIN7_1,Cursos,on="course_id")

#EDUCACION + LOS USUARIOS QUE LA ESTAN CURSANDO
JOIN6_1=pd.merge(JOIN5_1,Itinerarios,on="program_id")

KeyError: 'user_id'

In [17]:
#No deja join global
df1 = pd.merge(Usuarios, Tutores_perfil, how='outer')
df2 = pd.merge(df1, Actividades, how='outer')
df3 = pd.merge(df2, Accesos, how='outer')
df4 = pd.merge(df3, Cursos_en_Programas, how='outer')
df5 = pd.merge(df4, Conocimientos, how='outer')
df6 = pd.merge(df5, Programas, how='outer')
df7 = pd.merge(df6, Itinearios, how='outer')
df8 = pd.merge(df7, Acceso_1ero_ultimo, how='outer')

In [23]:
df8

,Unnamed: 0,user_id,useranonimo_name,active_flag,language,last_access,mdl_user_id,role_admin,role_manager,role_student,role_tutor,planta_name,Unnamed: 11,perfil_id,perfil_name,course_name,course_id,category,actividad_name,grade,time,description,timestamp,program_course_online_id,course_moodle_id,conocimiento_id,num_periodo,program_id,course_moodle_id.1,conocimiento_name,program_name,color,created_by,categoria_conocimiento_id,referencia,categoria_conocimiento_name,program_category_id,category_id,date_enroll,enroll_end,remarks,tutor_academico_id,tutor_empresa_id,category_name,1er acceso,ultimo acceso
0,0,3.0,username_03,1.0,es,NaN,13.0,0.0,0.0,1.0,0.0,ABP Bergara,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5717.0,72.0,24.0,1.0,187.0,INTRODUCCIÓN EN PRL Y MA ABP,ACOGIDA PRL Y MEDIO AMBIENTE,Control Visual Bruto,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,0,10.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.0,Gestor de empresa,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5717.0,72.0,24.0,1.0,187.0,INTRODUCCIÓN EN PRL Y MA ABP,ACOGIDA PRL Y MEDIO AMBIENTE,Control Visual Bruto,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,161.0,NaN,NaN,NaN,35UP,NaN,NaN,134.0,158.0,NaN,Técnico Tecnologico ABP Referencias,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,60.0,NaN,NaN,ITI CICLO DUAL 2019-2020,NaN,NaN,NaN,NaN,NaN,DUAL,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,0,3.0,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,66.0,NaN,NaN,Tratamiento Térmico ABP Bergara,NaN,NaN,NaN,NaN,NaN,NaN,8.0,2020-05-04T00:00:00+01:00,2023-04-01T23:59:00+01:00,NaN,0.0,190.0,SOPORTE&OPERARIO,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13965,367,NaN,NaN,NaN,NaN,NaN,457.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,--,--
13966,368,NaN,NaN,NaN,NaN,NaN,458.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,--,--
13967,369,NaN,NaN,NaN,NaN,NaN,459.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,--,--
13968,370,NaN,NaN,NaN,NaN,NaN,460.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,--,--
13969,371,NaN,NaN,NaN,NaN,NaN,461.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"jueves, 28 de octubre de 2021, 15:43","jueves, 28 de octubre de 2021, 16:03"

In [22]:
#Actividades, cursos en programas, cursos, programas, conocimientos
EDUCACION=pd.merge(Cursos_en_Programas,Programas,on="mdl_user_id") 
EDUCACION=pd.merge(EDUCACION,Conocimientos,on="conocimiento_id") 
EDUCACION=pd.merge(EDUCACION,Notas,on="conocimiento_id")

,Unnamed: 0_x,user_id,useranonimo_name,active_flag,language,last_access,mdl_user_id_x,role_admin,role_manager,role_student,role_tutor,planta_name,Unnamed: 11,Unnamed: 0_y,course_name,course_id,category,actividad_name,grade,time,Unnamed: 0,description,timestamp,mdl_user_id_y
0,0,3,username_03,1,es,NaN,13.0,0,0,1,0,ABP Bergara,NaN,2861,TALDEEN LIDERGOA,268,PERSONALES,TEST,10.0,2021-08-05 12:34:41,1266,Login SRM OK,2021-07-22T11:03:45+01:00,13
1,0,3,username_03,1,es,NaN,13.0,0,0,1,0,ABP Bergara,NaN,2861,TALDEEN LIDERGOA,268,PERSONALES,TEST,10.0,2021-08-05 12:34:41,1267,Login SRM OK,2021-08-05T12:33:20+01:00,13
2,0,3,username_03,1,es,NaN,13.0,0,0,1,0,ABP Bergara,NaN,2861,TALDEEN LIDERGOA,268,PERSONALES,TEST,10.0,2021-08-05 12:34:41,1268,Login SRM OK,2021-10-28T13:27:59+01:00,13
3,0,3,username_03,1,es,NaN,13.0,0,0,1,0,ABP Bergara,NaN,2862,TALDEEN LIDERGOA,268,PERSONALES,TALDEEN LIDERGOA - Total,10.0,2021-08-05 12:34:41,1266,Login SRM OK,2021-07-22T11:03:45+01:00,13
4,0,3,username_03,1,es,NaN,13.0,0,0,1,0,ABP Bergara,NaN,2862,TALDEEN LIDERGOA,268,PERSONALES,TALDEEN LIDERGOA - Total,10.0,2021-08-05 12:34:41,1267,Login SRM OK,2021-08-05T12:33:20+01:00,13
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
286794,405,422,username_422,1,es,NaN,443.0,0,0,1,0,MT Aretxabal,NaN,2858,SEMELLE H5 RSA,252,TÉCNICO / TECNOLÓGICO MT - REFERENCIAS,TEST,8.0,2021-10-15 07:25:44,8454,Login SRM OK,2021-10-15T06:51:45+01:00,443
286795,405,422,username_422,1,es,NaN,443.0,0,0,1,0,MT Aretxabal,NaN,2859,SEMELLE H5 RSA,252,TÉCNICO / TECNOLÓGICO MT - REFERENCIAS,SEMELLE H5 RSA - Total,8.0,2021-10-15 07:25:44,8453,Login SRM OK,2021-10-15T06:21:58+01:00,443
286796,405,422,username_422,1,es,NaN,443.0,0,0,1,0,MT Aretxabal,NaN,2859,SEMELLE H5 RSA,252,TÉCNICO / TECNOLÓGICO MT - REFERENCIAS,SEMELLE H5 RSA - Total,8.0,2021-10-15 07:25:44,8454,Login SRM OK,2021-10-15T06:51:45+01:00,443
286797,405,422,username_422,1,es,NaN,443.0,0,0,1,0,MT Aretxabal,NaN,2860,SEMELLE H5 RSA,252,TÉCNICO / TECNOLÓGICO MT - REFERENCIAS,TEST FINAL,NaN,NaN,8453,Login SRM OK,2021-10-15T06:21:58+01:00,443
286798,405,422,username_422,1,es,NaN,443.0,0,0,1,0,MT Aretxabal,NaN,2860,SEMELLE H5 RSA,252,TÉCNICO / TECNOLÓGICO MT - REFERENCIAS,TEST FINAL,NaN,NaN,8454,Login SRM OK,2021-10-15T06:51:45+01:00,443

LIMPIEZA DE DATOS

In [7]:
Usuarios = pd.read_csv('UsuariosSheet.csv')
Tutores_perfil = pd.read_csv('Tutores perfilSheet.csv')
Conocimientos = pd.read_csv('ConocimientosSheet.csv')
Cursos = pd.read_csv('CursosSheet.csv')
Programas = pd.read_csv('ProgramasSheet.csv')
Cursos_en_Programas = pd.read_csv('Cursos en ProgramasSheet.csv')
Itinearios = pd.read_csv('ItineariosSheet.csv')
Notas_Cursos = pd.read_csv('Notas_CursosSheet.csv')
Roles = pd.read_csv('RolesSheet.csv')
Plantas = pd.read_csv('PlantasSheet.csv')
Accesos = pd.read_csv('AccesosSheet.csv')
Acceso_1ero_ultimo = pd.read_csv('Acceso_1ero_ultimoSheet.csv')
Actividades = pd.read_csv('ActividadesSheet.csv')

In [8]:
Usuarios

,Unnamed: 0,user_id,useranonimo_name,active_flag,language,last_access,mdl_user_id,role_admin,role_manager,role_student,role_tutor,planta_name
0,0,3,username_03,1,es,NaN,13.0,0,0,1,0,ABP Bergara
1,1,4,username_04,1,es,NaN,14.0,0,0,1,0,Fagorederlan
2,2,5,username_05,1,es,NaN,15.0,0,0,1,0,ABP Arrasate
3,3,6,username_06,1,es,NaN,17.0,0,0,1,0,Fagorederlan
4,4,7,username_07,1,es,NaN,18.0,0,0,1,0,ABP Arrasate
...,...,...,...,...,...,...,...,...,...,...,...,...
415,415,432,username_432,1,es,NaN,457.0,0,0,1,0,MT Aretxabaleta
416,416,433,username_433,1,es,NaN,458.0,0,0,1,0,MT Aretxabaleta
417,417,434,username_434,1,es,NaN,459.0,0,0,1,0,MT Aretxabaleta
418,418,435,username_435,1,es,NaN,460.0,0,0,1,0,MT Aretxabaleta
419,419,436,username_436,1,es,NaN,461.0,0,1,1,1,ABP Bergara

In [9]:
#Nombre de columnas
Usuarios.columns

Index(['Unnamed: 0', 'user_id', 'useranonimo_name', 'active_flag', 'language',
       'last_access', 'mdl_user_id', 'role_admin', 'role_manager',
       'role_student', 'role_tutor', 'planta_name'],
      dtype='object')

In [10]:
#Numero de columnas/filas
Usuarios.shape

(420, 12)

In [11]:
#Eliminar columnas innecesarias
Usuarios=Usuarios.drop(['Unnamed: 0'], axis=1)
Usuarios=Usuarios.drop(['useranonimo_name'], axis=1)
Usuarios=Usuarios.drop(['last_access'], axis=1)

In [12]:
Usuarios.info

<bound method DataFrame.info of      user_id  active_flag language  mdl_user_id  role_admin  role_manager  \
0          3            1       es         13.0           0             0
1          4            1       es         14.0           0             0
2          5            1       es         15.0           0             0
3          6            1       es         17.0           0             0
4          7            1       es         18.0           0             0
..       ...          ...      ...          ...         ...           ...
415      432            1       es        457.0           0             0
416      433            1       es        458.0           0             0
417      434            1       es        459.0           0             0
418      435            1       es        460.0           0             0
419      436            1       es        461.0           0             1

     role_student  role_tutor      planta_name
0               1           0      ABP Bergara
1               1           0     Fagorederlan
2               1           0     ABP Arrasate
3               1           0     Fagorederlan
4               1           0     ABP Arrasate
..            ...         ...              ...
415             1           0  MT Aretxabaleta
416             1           0  MT Aretxabaleta
417             1           0  MT Aretxabaleta
418             1           0  MT Aretxabaleta
419             1           1      ABP Bergara

[420 rows x 9 columns]>

In [13]:
#Tipos de variables
Usuarios.dtypes

user_id           int64
active_flag       int64
language         object
mdl_user_id     float64
role_admin        int64
role_manager      int64
role_student      int64
role_tutor        int64
planta_name      object
dtype: object

In [14]:
Uusarios["mdl_user_id"]pd.to_numeric(Usuarios["mdl_user_id"])

SyntaxError: invalid syntax (Temp/ipykernel_10992/347189986.py, line 1)

In [16]:
#Duplicados
Usuarios.duplicated().sum() # busca duplicados de fila completa

0

In [17]:
#NA'S
Usuarios.isna()
#Eliminamos last_acceses por %100 de NA'S 
Usuarios.isna().sum()

user_id          0
active_flag      0
language         0
mdl_user_id     15
role_admin       0
role_manager     0
role_student     0
role_tutor       0
planta_name      0
dtype: int64

In [18]:
#Se quitan o no 15 mdl_user_id en caso de que no necesitemos la variable
Usuarios.dropna(subset = ['mdl_user_id'])

,user_id,active_flag,language,mdl_user_id,role_admin,role_manager,role_student,role_tutor,planta_name
0,3,1,es,13.0,0,0,1,0,ABP Bergara
1,4,1,es,14.0,0,0,1,0,Fagorederlan
2,5,1,es,15.0,0,0,1,0,ABP Arrasate
3,6,1,es,17.0,0,0,1,0,Fagorederlan
4,7,1,es,18.0,0,0,1,0,ABP Arrasate
...,...,...,...,...,...,...,...,...,...
415,432,1,es,457.0,0,0,1,0,MT Aretxabaleta
416,433,1,es,458.0,0,0,1,0,MT Aretxabaleta
417,434,1,es,459.0,0,0,1,0,MT Aretxabaleta
418,435,1,es,460.0,0,0,1,0,MT Aretxabaleta
419,436,1,es,461.0,0,1,1,1,ABP Bergara

In [ ]:
Tutores_perfil

In [ ]:
Conocimientos

In [ ]:
Cursos

In [15]:
Programas

,Unnamed: 0,program_id,program_name,program_category_id
0,0,60,ITI CICLO DUAL 2019-2020,DUAL
1,1,61,Programa PILOTO,TÉCNICO
2,2,62,Maquinista Mecanizado ABP Bergara,TÉCNICO
3,3,63,nvnvbn,DUAL
4,4,64,ITI GRADO DUAL 2019-2020,DUAL
...,...,...,...,...
105,105,184,Maquinista Mecanizados LPPFe,ESPECIALISTA
106,106,185,Operario de Macheria LPC,SOPORTE&OPERARIO
107,107,186,PERTSONALAK,GESTIÓN
108,108,187,Control Visual Bruto,SOPORTE&OPERARIO
109,109,188,Control Visual Mec ABP,SOPORTE&OPERARIO

In [16]:
#Nombre de columnas
Programas.columns

Index(['Unnamed: 0', 'program_id', 'program_name', 'program_category_id'], dtype='object')

In [17]:
#Numero de columnas/filas
Programas.shape

(110, 4)

In [18]:
Programas.info

<bound method DataFrame.info of      Unnamed: 0  program_id                       program_name  \
0             0          60           ITI CICLO DUAL 2019-2020
1             1          61                    Programa PILOTO
2             2          62  Maquinista Mecanizado ABP Bergara
3             3          63                             nvnvbn
4             4          64           ITI GRADO DUAL 2019-2020
..          ...         ...                                ...
105         105         184       Maquinista Mecanizados LPPFe
106         106         185           Operario de Macheria LPC
107         107         186                        PERTSONALAK
108         108         187               Control Visual Bruto
109         109         188             Control Visual Mec ABP

    program_category_id
0                  DUAL
1               TÉCNICO
2               TÉCNICO
3                  DUAL
4                  DUAL
..                  ...
105        ESPECIALISTA
106    SOPORTE&OPERARIO
107             GESTIÓN
108    SOPORTE&OPERARIO
109    SOPORTE&OPERARIO

[110 rows x 4 columns]>

In [19]:
#Tipos de variables
Programas.dtypes

Unnamed: 0              int64
program_id              int64
program_name           object
program_category_id    object
dtype: object

In [20]:
#Duplicados
Programas.duplicated().sum() # busca duplicados de fila completa

0

In [21]:
#NA'S
Programas.isna()
Programas.isna().sum()

Unnamed: 0             0
program_id             0
program_name           0
program_category_id    1
dtype: int64

In [22]:
#Eliminamos la fila que contiene NA en program_category_id.
Programas=Programas.dropna(axis = 0, how = 'any') 
Programas.isna().sum()

Unnamed: 0             0
program_id             0
program_name           0
program_category_id    0
dtype: int64

In [23]:
#Eliminamos la columna 'Unnamed: 0' ya que no aporta valor.
Programas=Programas.drop(['Unnamed: 0'], axis=1)

In [24]:
Programas

     program_id                       program_name program_category_id
0            60           ITI CICLO DUAL 2019-2020                DUAL
1            61                    Programa PILOTO             TÉCNICO
2            62  Maquinista Mecanizado ABP Bergara             TÉCNICO
3            63                             nvnvbn                DUAL
4            64           ITI GRADO DUAL 2019-2020                DUAL
..          ...                                ...                 ...
105         184       Maquinista Mecanizados LPPFe        ESPECIALISTA
106         185           Operario de Macheria LPC    SOPORTE&OPERARIO
107         186                        PERTSONALAK             GESTIÓN
108         187               Control Visual Bruto    SOPORTE&OPERARIO
109         188             Control Visual Mec ABP    SOPORTE&OPERARIO

[109 rows x 3 columns]

In [25]:
Cursos_en_Programas

,Unnamed: 0,program_course_online_id,course_moodle_id,conocimiento_id,num_periodo,program_id,course_moodle_id.1,conocimiento_name,program_name
0,0,5717,72,24,1,187,INTRODUCCIÓN EN PRL Y MA ABP,ACOGIDA PRL Y MEDIO AMBIENTE,Control Visual Bruto
1,1,5718,70,20,1,187,PLAN ACOGIDA ABP,ACOGIDA GENERAL,Control Visual Bruto
2,2,5719,297,157,1,187,CONTROL VISUAL GENÉRICO - LANDUGABEA IKUS KONT...,ACABADO - Control Visual,Control Visual Bruto
3,3,5723,298,165,0,188,CONTROL VISUAL MEC. GENÉRICO - IKUS KONTROLA,MECANIZADO,Control Visual Mec ABP
4,4,5724,299,40,0,188,CONTROL VISUAL MEC - G2X IKUS KONTROLA,MECANIZADO - G2X,Control Visual Mec ABP
...,...,...,...,...,...,...,...,...,...
248,248,5640,72,24,1,66,INTRODUCCIÓN EN PRL Y MA ABP,ACOGIDA PRL Y MEDIO AMBIENTE,Tratamiento Térmico ABP Bergara
249,249,5641,74,24,1,66,EVALUACIÓN RIESGOS DEL PUESTO - TT,ACOGIDA PRL Y MEDIO AMBIENTE,Tratamiento Térmico ABP Bergara
250,250,5642,69,20,1,66,PLAN ACOGIDA GENERAL,ACOGIDA GENERAL,Tratamiento Térmico ABP Bergara
251,251,5644,70,20,1,66,PLAN ACOGIDA ABP,ACOGIDA GENERAL,Tratamiento Térmico ABP Bergara
252,252,5652,193,90,2,66,TRATAMIENTO TÉRMICO ABP B_N3,ACABADO_Tratamiento Térmico,Tratamiento Térmico ABP Bergara

In [26]:
#Nombre de columnas
Cursos_en_Programas.columns

Index(['Unnamed: 0', 'program_course_online_id', 'course_moodle_id',
       'conocimiento_id', 'num_periodo', 'program_id', 'course_moodle_id.1',
       'conocimiento_name', 'program_name'],
      dtype='object')

In [27]:
#Numero de columnas/filas
Cursos_en_Programas.shape

(253, 9)

In [28]:
Cursos_en_Programas.info

<bound method DataFrame.info of      Unnamed: 0  program_course_online_id  course_moodle_id  conocimiento_id  \
0             0                      5717                72               24
1             1                      5718                70               20
2             2                      5719               297              157
3             3                      5723               298              165
4             4                      5724               299               40
..          ...                       ...               ...              ...
248         248                      5640                72               24
249         249                      5641                74               24
250         250                      5642                69               20
251         251                      5644                70               20
252         252                      5652               193               90

     num_periodo  program_id  \
0              1         187
1              1         187
2              1         187
3              0         188
4              0         188
..           ...         ...
248            1          66
249            1          66
250            1          66
251            1          66
252            2          66

                                    course_moodle_id.1  \
0                         INTRODUCCIÓN EN PRL Y MA ABP
1                                     PLAN ACOGIDA ABP
2    CONTROL VISUAL GENÉRICO - LANDUGABEA IKUS KONT...
3        CONTROL VISUAL MEC.  GENÉRICO - IKUS KONTROLA
4               CONTROL VISUAL MEC - G2X IKUS KONTROLA
..                                                 ...
248                       INTRODUCCIÓN EN PRL Y MA ABP
249                 EVALUACIÓN RIESGOS DEL PUESTO - TT
250                               PLAN ACOGIDA GENERAL
251                                   PLAN ACOGIDA ABP
252                       TRATAMIENTO TÉRMICO ABP B_N3

                 conocimiento_name                     program_name
0    ACOGIDA PRL Y MEDIO AMBIENTE              Control Visual Bruto
1                  ACOGIDA GENERAL             Control Visual Bruto
2         ACABADO - Control Visual             Control Visual Bruto
3                       MECANIZADO           Control Visual Mec ABP
4                 MECANIZADO - G2X           Control Visual Mec ABP
..                             ...                              ...
248  ACOGIDA PRL Y MEDIO AMBIENTE   Tratamiento Térmico ABP Bergara
249  ACOGIDA PRL Y MEDIO AMBIENTE   Tratamiento Térmico ABP Bergara
250                ACOGIDA GENERAL  Tratamiento Térmico ABP Bergara
251                ACOGIDA GENERAL  Tratamiento Térmico ABP Bergara
252    ACABADO_Tratamiento Térmico  Tratamiento Térmico ABP Bergara

[253 rows x 9 columns]>

In [29]:
Cursos_en_Programas.dtypes

Unnamed: 0                   int64
program_course_online_id     int64
course_moodle_id             int64
conocimiento_id              int64
num_periodo                  int64
program_id                   int64
course_moodle_id.1          object
conocimiento_name           object
program_name                object
dtype: object

In [30]:
#Duplicados
Cursos_en_Programas.duplicated().sum() # busca duplicados de fila completa

0

In [31]:
#NA'S
Cursos_en_Programas.isna()
Cursos_en_Programas.isna().sum()

Unnamed: 0                  0
program_course_online_id    0
course_moodle_id            0
conocimiento_id             0
num_periodo                 0
program_id                  0
course_moodle_id.1          0
conocimiento_name           0
program_name                0
dtype: int64

In [32]:
#Eliminamos la columna 'Unnamed: 0' ya que no aporta valor.
Cursos_en_Programas=Cursos_en_Programas.drop(['Unnamed: 0'], axis=1)

In [33]:
Cursos_en_Programas

,program_course_online_id,course_moodle_id,conocimiento_id,num_periodo,program_id,course_moodle_id.1,conocimiento_name,program_name
0,5717,72,24,1,187,INTRODUCCIÓN EN PRL Y MA ABP,ACOGIDA PRL Y MEDIO AMBIENTE,Control Visual Bruto
1,5718,70,20,1,187,PLAN ACOGIDA ABP,ACOGIDA GENERAL,Control Visual Bruto
2,5719,297,157,1,187,CONTROL VISUAL GENÉRICO - LANDUGABEA IKUS KONT...,ACABADO - Control Visual,Control Visual Bruto
3,5723,298,165,0,188,CONTROL VISUAL MEC. GENÉRICO - IKUS KONTROLA,MECANIZADO,Control Visual Mec ABP
4,5724,299,40,0,188,CONTROL VISUAL MEC - G2X IKUS KONTROLA,MECANIZADO - G2X,Control Visual Mec ABP
...,...,...,...,...,...,...,...,...
248,5640,72,24,1,66,INTRODUCCIÓN EN PRL Y MA ABP,ACOGIDA PRL Y MEDIO AMBIENTE,Tratamiento Térmico ABP Bergara
249,5641,74,24,1,66,EVALUACIÓN RIESGOS DEL PUESTO - TT,ACOGIDA PRL Y MEDIO AMBIENTE,Tratamiento Térmico ABP Bergara
250,5642,69,20,1,66,PLAN ACOGIDA GENERAL,ACOGIDA GENERAL,Tratamiento Térmico ABP Bergara
251,5644,70,20,1,66,PLAN ACOGIDA ABP,ACOGIDA GENERAL,Tratamiento Térmico ABP Bergara
252,5652,193,90,2,66,TRATAMIENTO TÉRMICO ABP B_N3,ACABADO_Tratamiento Térmico,Tratamiento Térmico ABP Bergara

In [34]:
Itinearios

,Unnamed: 0,active_flag,category_id,date_enroll,enroll_end,program_id,remarks,tutor_academico_id,tutor_empresa_id,user_id,category_name,program_name
0,0,0,8,2020-05-04T00:00:00+01:00,2023-04-01T23:59:00+01:00,66,NaN,0,190,3,SOPORTE&OPERARIO,Tratamiento Térmico ABP Bergara
1,1,1,2,2021-07-22T00:00:00+01:00,NaN,145,NaN,0,50,3,DUAL,pruebas_01
2,2,1,8,2021-09-08T00:00:00+01:00,NaN,146,NaN,0,110,3,SOPORTE&OPERARIO,Operario Control Final CBI
3,3,0,2,2020-06-18T00:00:00+01:00,NaN,64,NaN,148,41,4,DUAL,ITI GRADO DUAL 2019-2020
4,4,0,2,2020-09-24T00:00:00+01:00,2021-06-30T23:59:00+01:00,135,NaN,148,41,4,DUAL,ITI GRADO DUAL 2020-2021
...,...,...,...,...,...,...,...,...,...,...,...,...
462,462,1,5,2021-10-25T00:00:00+01:00,NaN,163,NaN,0,286,433,ESPECIALISTA,Maquinista Mecanizados Autogestión MT
463,463,1,5,2021-10-25T00:00:00+01:00,NaN,163,NaN,0,287,434,ESPECIALISTA,Maquinista Mecanizados Autogestión MT
464,464,1,5,2021-10-25T00:00:00+01:00,NaN,163,NaN,0,285,435,ESPECIALISTA,Maquinista Mecanizados Autogestión MT
465,465,1,8,2021-10-28T00:00:00+01:00,NaN,66,NaN,0,190,436,SOPORTE&OPERARIO,Tratamiento Térmico ABP Bergara
466,466,1,8,2021-10-28T00:00:00+01:00,NaN,188,NaN,0,190,436,SOPORTE&OPERARIO,Control Visual Mec ABP

In [35]:
#Nombre de columnas
Itinearios.columns

Index(['Unnamed: 0', 'active_flag', 'category_id', 'date_enroll', 'enroll_end',
       'program_id', 'remarks', 'tutor_academico_id', 'tutor_empresa_id',
       'user_id', 'category_name', 'program_name'],
      dtype='object')

In [36]:
#Numero de columnas/filas
Itinearios.shape

(467, 12)

In [37]:
Itinearios.info

<bound method DataFrame.info of      Unnamed: 0  active_flag  category_id                date_enroll  \
0             0            0            8  2020-05-04T00:00:00+01:00
1             1            1            2  2021-07-22T00:00:00+01:00
2             2            1            8  2021-09-08T00:00:00+01:00
3             3            0            2  2020-06-18T00:00:00+01:00
4             4            0            2  2020-09-24T00:00:00+01:00
..          ...          ...          ...                        ...
462         462            1            5  2021-10-25T00:00:00+01:00
463         463            1            5  2021-10-25T00:00:00+01:00
464         464            1            5  2021-10-25T00:00:00+01:00
465         465            1            8  2021-10-28T00:00:00+01:00
466         466            1            8  2021-10-28T00:00:00+01:00

                    enroll_end  program_id remarks  tutor_academico_id  \
0    2023-04-01T23:59:00+01:00          66     NaN                   0
1                          NaN         145     NaN                   0
2                          NaN         146     NaN                   0
3                          NaN          64     NaN                 148
4    2021-06-30T23:59:00+01:00         135     NaN                 148
..                         ...         ...     ...                 ...
462                        NaN         163     NaN                   0
463                        NaN         163     NaN                   0
464                        NaN         163     NaN                   0
465                        NaN          66     NaN                   0
466                        NaN         188     NaN                   0

     tutor_empresa_id  user_id     category_name  \
0                 190        3  SOPORTE&OPERARIO
1                  50        3              DUAL
2                 110        3  SOPORTE&OPERARIO
3                  41        4              DUAL
4                  41        4              DUAL
..                ...      ...               ...
462               286      433      ESPECIALISTA
463               287      434      ESPECIALISTA
464               285      435      ESPECIALISTA
465               190      436  SOPORTE&OPERARIO
466               190      436  SOPORTE&OPERARIO

                              program_name
0          Tratamiento Térmico ABP Bergara
1                               pruebas_01
2               Operario Control Final CBI
3                 ITI GRADO DUAL 2019-2020
4                 ITI GRADO DUAL 2020-2021
..                                     ...
462  Maquinista Mecanizados Autogestión MT
463  Maquinista Mecanizados Autogestión MT
464  Maquinista Mecanizados Autogestión MT
465        Tratamiento Térmico ABP Bergara
466                 Control Visual Mec ABP

[467 rows x 12 columns]>

In [38]:
#Tipos de variables
Itinearios.dtypes

Unnamed: 0             int64
active_flag            int64
category_id            int64
date_enroll           object
enroll_end            object
program_id             int64
remarks               object
tutor_academico_id     int64
tutor_empresa_id       int64
user_id                int64
category_name         object
program_name          object
dtype: object

In [39]:
#Corregimos fecha y hora de date_enroll y enroll_end
Itinearios['date_enroll']= pd.to_datetime(Itinearios['date_enroll'],utc=True)
Itinearios['enroll_end']= pd.to_datetime(Itinearios['enroll_end'],utc=True)
Itinearios

,Unnamed: 0,active_flag,category_id,date_enroll,enroll_end,program_id,remarks,tutor_academico_id,tutor_empresa_id,user_id,category_name,program_name
0,0,0,8,2020-05-03 23:00:00+00:00,2023-04-01 22:59:00+00:00,66,NaN,0,190,3,SOPORTE&OPERARIO,Tratamiento Térmico ABP Bergara
1,1,1,2,2021-07-21 23:00:00+00:00,NaT,145,NaN,0,50,3,DUAL,pruebas_01
2,2,1,8,2021-09-07 23:00:00+00:00,NaT,146,NaN,0,110,3,SOPORTE&OPERARIO,Operario Control Final CBI
3,3,0,2,2020-06-17 23:00:00+00:00,NaT,64,NaN,148,41,4,DUAL,ITI GRADO DUAL 2019-2020
4,4,0,2,2020-09-23 23:00:00+00:00,2021-06-30 22:59:00+00:00,135,NaN,148,41,4,DUAL,ITI GRADO DUAL 2020-2021
...,...,...,...,...,...,...,...,...,...,...,...,...
462,462,1,5,2021-10-24 23:00:00+00:00,NaT,163,NaN,0,286,433,ESPECIALISTA,Maquinista Mecanizados Autogestión MT
463,463,1,5,2021-10-24 23:00:00+00:00,NaT,163,NaN,0,287,434,ESPECIALISTA,Maquinista Mecanizados Autogestión MT
464,464,1,5,2021-10-24 23:00:00+00:00,NaT,163,NaN,0,285,435,ESPECIALISTA,Maquinista Mecanizados Autogestión MT
465,465,1,8,2021-10-27 23:00:00+00:00,NaT,66,NaN,0,190,436,SOPORTE&OPERARIO,Tratamiento Térmico ABP Bergara
466,466,1,8,2021-10-27 23:00:00+00:00,NaT,188,NaN,0,190,436,SOPORTE&OPERARIO,Control Visual Mec ABP

In [40]:
#Tipos de variables corregido fecha y hora
Itinearios.dtypes

Unnamed: 0                          int64
active_flag                         int64
category_id                         int64
date_enroll           datetime64[ns, UTC]
enroll_end            datetime64[ns, UTC]
program_id                          int64
remarks                            object
tutor_academico_id                  int64
tutor_empresa_id                    int64
user_id                             int64
category_name                      object
program_name                       object
dtype: object

In [41]:
#Duplicados
Itinearios.duplicated().sum() # busca duplicados de fila completa

0

In [42]:
#NA'S
Itinearios.isna()
Itinearios.isna().sum()

Unnamed: 0              0
active_flag             0
category_id             0
date_enroll             1
enroll_end            297
program_id              0
remarks               464
tutor_academico_id      0
tutor_empresa_id        0
user_id                 0
category_name           0
program_name            0
dtype: int64

In [43]:
#Eliminamos la columna 'Unnamed: 0' ya que no aporta valor.
#Eliminamos la columna 'remarcks' ya que casi tiene un 100% de NA
#Eliminamos de momento la variable 'enroll_end' ya que tiene mas de un 60% de NA.
Itinearios=Itinearios.drop(['Unnamed: 0'], axis=1)
Itinearios=Itinearios.drop(['remarks'], axis=1)
Itinearios=Itinearios.drop(['enroll_end'], axis=1)

In [44]:
Itinearios

,active_flag,category_id,date_enroll,program_id,tutor_academico_id,tutor_empresa_id,user_id,category_name,program_name
0,0,8,2020-05-03 23:00:00+00:00,66,0,190,3,SOPORTE&OPERARIO,Tratamiento Térmico ABP Bergara
1,1,2,2021-07-21 23:00:00+00:00,145,0,50,3,DUAL,pruebas_01
2,1,8,2021-09-07 23:00:00+00:00,146,0,110,3,SOPORTE&OPERARIO,Operario Control Final CBI
3,0,2,2020-06-17 23:00:00+00:00,64,148,41,4,DUAL,ITI GRADO DUAL 2019-2020
4,0,2,2020-09-23 23:00:00+00:00,135,148,41,4,DUAL,ITI GRADO DUAL 2020-2021
...,...,...,...,...,...,...,...,...,...
462,1,5,2021-10-24 23:00:00+00:00,163,0,286,433,ESPECIALISTA,Maquinista Mecanizados Autogestión MT
463,1,5,2021-10-24 23:00:00+00:00,163,0,287,434,ESPECIALISTA,Maquinista Mecanizados Autogestión MT
464,1,5,2021-10-24 23:00:00+00:00,163,0,285,435,ESPECIALISTA,Maquinista Mecanizados Autogestión MT
465,1,8,2021-10-27 23:00:00+00:00,66,0,190,436,SOPORTE&OPERARIO,Tratamiento Térmico ABP Bergara
466,1,8,2021-10-27 23:00:00+00:00,188,0,190,436,SOPORTE&OPERARIO,Control Visual Mec ABP

In [8]:
Notas_Cursos

,Unnamed: 0,enroll_grade_id,active_flag,course_id,enroll_id,grade,online_progress,course_name,user_id
0,0,17681,1,224,802,0.00,0.0,A - FORMACIÓN ESPECÍFICA CALIDAD ABP,138
1,1,16572,1,224,771,9.32,0.0,A - FORMACIÓN ESPECÍFICA CALIDAD ABP,262
2,2,16590,1,224,774,9.66,0.0,A - FORMACIÓN ESPECÍFICA CALIDAD ABP,265
3,3,16578,1,224,772,NaN,NaN,A - FORMACIÓN ESPECÍFICA CALIDAD ABP,263
4,4,16584,1,224,773,NaN,NaN,A - FORMACIÓN ESPECÍFICA CALIDAD ABP,264
...,...,...,...,...,...,...,...,...,...
3893,3893,19558,1,278,838,NaN,NaN,Trazabilidad LPPFe MEC,311
3894,3894,19568,1,278,839,NaN,NaN,Trazabilidad LPPFe MEC,312
3895,3895,19578,1,278,840,NaN,NaN,Trazabilidad LPPFe MEC,313
3896,3896,19913,1,278,850,NaN,NaN,Trazabilidad LPPFe MEC,317
3897,3897,21551,1,278,885,NaN,NaN,Trazabilidad LPPFe MEC,324

In [9]:
Notas_Cursos.columns

Index(['Unnamed: 0', 'enroll_grade_id', 'active_flag', 'course_id',
       'enroll_id', 'grade', 'online_progress', 'course_name', 'user_id'],
      dtype='object')

In [10]:
Notas_Cursos.shape

(3898, 9)

In [11]:
Notas_Cursos.info

<bound method DataFrame.info of       Unnamed: 0  enroll_grade_id  active_flag  course_id  enroll_id  grade  \
0              0            17681            1        224        802   0.00
1              1            16572            1        224        771   9.32
2              2            16590            1        224        774   9.66
3              3            16578            1        224        772    NaN
4              4            16584            1        224        773    NaN
...          ...              ...          ...        ...        ...    ...
3893        3893            19558            1        278        838    NaN
3894        3894            19568            1        278        839    NaN
3895        3895            19578            1        278        840    NaN
3896        3896            19913            1        278        850    NaN
3897        3897            21551            1        278        885    NaN

      online_progress                           course_name  user_id
0                 0.0  A - FORMACIÓN ESPECÍFICA CALIDAD ABP      138
1                 0.0  A - FORMACIÓN ESPECÍFICA CALIDAD ABP      262
2                 0.0  A - FORMACIÓN ESPECÍFICA CALIDAD ABP      265
3                 NaN  A - FORMACIÓN ESPECÍFICA CALIDAD ABP      263
4                 NaN  A - FORMACIÓN ESPECÍFICA CALIDAD ABP      264
...               ...                                   ...      ...
3893              NaN                Trazabilidad LPPFe MEC      311
3894              NaN                Trazabilidad LPPFe MEC      312
3895              NaN                Trazabilidad LPPFe MEC      313
3896              NaN                Trazabilidad LPPFe MEC      317
3897              NaN                Trazabilidad LPPFe MEC      324

[3898 rows x 9 columns]>

In [12]:
Notas_Cursos.dtypes

Unnamed: 0           int64
enroll_grade_id      int64
active_flag          int64
course_id            int64
enroll_id            int64
grade              float64
online_progress    float64
course_name         object
user_id              int64
dtype: object

In [13]:
#Duplicados
Notas_Cursos.duplicated().sum() #busca duplicados de fila completa

0

In [14]:
#NA'S
Notas_Cursos.isna()
Notas_Cursos.isna().sum()

Unnamed: 0            0
enroll_grade_id       0
active_flag           0
course_id             0
enroll_id             0
grade              2423
online_progress    2380
course_name           0
user_id               0
dtype: int64

In [15]:
#Duplicados
Notas_Cursos.duplicated(subset = ['grade', 'online_progress']).sum()

3656

In [16]:
#Eliminamos la columna 'Unnamed: 0' ya que no aporta valor.
Notas_Cursos=Notas_Cursos.drop(['Unnamed: 0'], axis=1)

In [18]:
Notas_Cursos = Notas_Cursos.fillna(-999)

In [19]:
Notas_Cursos

,enroll_grade_id,active_flag,course_id,enroll_id,grade,online_progress,course_name,user_id
0,17681,1,224,802,0.00,0.0,A - FORMACIÓN ESPECÍFICA CALIDAD ABP,138
1,16572,1,224,771,9.32,0.0,A - FORMACIÓN ESPECÍFICA CALIDAD ABP,262
2,16590,1,224,774,9.66,0.0,A - FORMACIÓN ESPECÍFICA CALIDAD ABP,265
3,16578,1,224,772,-999.00,-999.0,A - FORMACIÓN ESPECÍFICA CALIDAD ABP,263
4,16584,1,224,773,-999.00,-999.0,A - FORMACIÓN ESPECÍFICA CALIDAD ABP,264
...,...,...,...,...,...,...,...,...
3893,19558,1,278,838,-999.00,-999.0,Trazabilidad LPPFe MEC,311
3894,19568,1,278,839,-999.00,-999.0,Trazabilidad LPPFe MEC,312
3895,19578,1,278,840,-999.00,-999.0,Trazabilidad LPPFe MEC,313
3896,19913,1,278,850,-999.00,-999.0,Trazabilidad LPPFe MEC,317
3897,21551,1,278,885,-999.00,-999.0,Trazabilidad LPPFe MEC,324

In [52]:
Roles

   Unnamed: 0  role_id    role_name
0           0        1    LBL_ADMIN
1           1        2  LBL_MANAGER
2           2        3    LBL_TUTOR
3           3        4  LBL_STUDENT

In [53]:
Roles.columns

Index(['Unnamed: 0', 'role_id', 'role_name'], dtype='object')

In [54]:
Roles.shape

(4, 3)

In [55]:
Roles.info

<bound method DataFrame.info of    Unnamed: 0  role_id    role_name
0           0        1    LBL_ADMIN
1           1        2  LBL_MANAGER
2           2        3    LBL_TUTOR
3           3        4  LBL_STUDENT>

In [56]:
#Tipo de variables
Roles.dtypes

Unnamed: 0     int64
role_id        int64
role_name     object
dtype: object

In [57]:
#Duplicados
Roles.duplicated().sum() #busca duplicados de fila completa

0

In [59]:
#NA'S
Roles.isna()
Roles.isna().sum()

Unnamed: 0    0
role_id       0
role_name     0
dtype: int64

In [60]:
#Eliminamos la columna 'Unnamed: 0' ya que no aporta valor.
Roles=Roles.drop(['Unnamed: 0'], axis=1)

In [35]:
Roles

   role_id    role_name
0        1    LBL_ADMIN
1        2  LBL_MANAGER
2        3    LBL_TUTOR
3        4  LBL_STUDENT

In [ ]:
Plantas

In [ ]:
Accesos

In [ ]:
Acceso_1ero_ultimo

In [ ]:
Actividades